<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-doby">
          <table class="table">
            <tbody>
              <th class="font2 text-center">Cut</th>
              <tr>
                <td scope="row" class="font2">Haircut</td>
                <td class="font2">$15.000</td>
              </tr>
              <tr>
                <td scope="row" class="font2">Beard cut</td>
                <td class="font2">$10.000</td>
              </tr>
              <tr>
                <td scope="row" class="font2">Eyebrows</td>
                <td class="font2">$7.000</td>
              </tr>
              <th class="font2 text-center">Masks</th>
              <tr>
                <td scope="row" class="font2">Activated carbon</td>
                <td class="font2">$5.000</td>
              </tr>
              <tr>
                <td scope="row" class="font2">Collagen</td>
                <td class="font2">$8.000</td>
              </tr>
              <th class="font2 text-center">Combos</th>
              <tr>
                <td scope="row" class="font2">Haircut, beard cut, activated carbon</td>
                <td class="font2">$28.000</td>
              </tr>
              <tr>
                <td scope="row" class="font2">Haircut, beard cut, eyebrows</td>
                <td class="font2">$30.000</td>
              </tr>
              <tr>
                <td scope="row" class="font2">Haircut, beard cut, eyebrows, collagen</td>
                <td class="font2">$35.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
