<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-doby">
          <form class="mt-4">
            <h3 class="font2">Day and hour</h3>
              <input type="text" class="form-control form-control-lg mt-4" placeholder="Service">
              <input type="text" class="form-control form-control-lg mt-4 " placeholder="Barber">
              <input type="date" class="form-control form-control-lg mt-4 " placeholder="Date">
              <select class="custom-select" id="inputGroupSelectHour" placeholder= "Hour">
                <option selected placeholder="Hour"></option>
                <option value="1">09:00</option>
                <option value="2">09:30</option>
                <option value="3">10:00</option>
                <option value="4">09:00</option>
                <option value="5">09:30</option>
                <option value="6">10:00</option>
                <option value="7">10:30</option>
                <option value="8">11:00</option>
                <option value="9">11:30</option>
                <option value="10">12:00</option>
                <option value="12">12:30</option>
                <option value="13">14:00</option>
                <option value="14">14:30</option>
                <option value="15">15:00</option>
                <option value="16">15:30</option>
                <option value="17">16:00</option>
              </select>
              <button type="button" class="btn btn-booking btn-sm mt-4">Schedule Apointment</button><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
