<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-doby">
          <form class="mt-4">
            <img class="login-logo" src="../../../assets/img/logo.jpg" alt="Logo">
              <input type="email" class="form-control form-control-lg mt-4" placeholder="User">
              <input type="password" class="form-control form-control-lg mt-4 " placeholder="Password">
              <button type="button" class="btn btn-barber btn-sm mt-4 ">Login</button><br>
              <span class="span-barber">You do not have an account? <a class="a-barber"
                 routerLink="/register">Sign up</a></span><br>
              <img class="login-ico mt-2 mb-3" src="../../../assets/img/google.ico" alt="google" href="#">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
