<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-doby">
          <h3 class="font2">Confirmed Appointment</h3>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row" class="font2">20/06/2022</th>
                <td class="font2">Corte y barba</td>
                <td>
                </td>
              </tr>
              <tr>
                <th scope="row" class="font2">14:30</th>
                <td class="font2">Javier / -</td>
                <td>
                  <i class="fa-solid fa-pencil"></i>
                  <i class="fa-solid fa-pencil"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
